:root{
    --bg-light: #f2f2f2;
    --bg-dark: #333333;
    --pimary: #222222;
    --secondary: #7900ca;
    --tertiary: #e2e600;
    --blue: #17007e;
}

/* form prodotto in evidenza  */
.container-prodotto-in-evidenza{
    margin: auto;
    font-size: small;
    color: var(--bg-light);
}

.container-card-product{
    width: 250px;
    height: 430px;
    background-color: var(--pimary);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: var(--secondary) solid 2px;

    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.card-product-title{
    margin: 5px 7px 0px 7px;
    color: var(--secondary);
    font-family: fantasy;
    font-size: large;
    text-transform: uppercase;
    text-align: center;
}

.card-product-brand{
    margin: 5px auto;
    color: var(--tertiary);
    font-size: medium;
    text-transform: capitalize;
}

.card-product-image{
    border-radius: 10%;
    border: var(--tertiary) solid 3px;
    width: 180px;
    height: 160px;
    margin: 5px auto;
    padding: 7px;
}

.card-product-description{
    color: var(--bg-light);
    margin: 8px 5px 8px 5px;
    font-size: small;
    text-align: center;
}

.container-price-rating{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
    color: var(--bg-light);
    gap: 30px;
}

    .card-product-price{
        color: var(--bg-light);
    }

    .card-product-rating{
        color: var(--bg-light);
    }

.card-product-aviability{
    margin: 3px auto;
}

.card-product-btn{
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, var(--tertiary) 0%, #F09819  51%, var(--secondary)  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.card-product-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.card-product-btn:active {
    transform: scale(0.95);
}