:root{
    --bg-light: #f2f2f2;
    --bg-dark: #333333;
    --pimary: #222222;
}

nav{
    justify-items: center;
    text-align: center;
    background-color: var(--pimary);
}

/* nav header */
.nav-header{
    display: grid;
    grid-template-areas: "a span div";
    align-items: center;
    color: var(--bg-light);
}
.nav-header > a {
    align-items: center;
    justify-items: center;
    text-align: center;
}

.img-logo{
    height: 50px;
    width: 50px;
}

.nav-header-title{
    text-transform: uppercase;
    font-size: larger;
    font-weight: 800;
    font-family: monospace;
    font-stretch: extra-expanded;
}

.img-btn{
    width: 25px;
    height: 25px;
}

.img-btn:hover{
    cursor: pointer;
    border: var(--pimary) solid 1px;
    border-radius: 100%;
}

/* nav-content */
.nav-content{
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: end;
    display: none;
}
.nav-content-item{
    color: var(--bg-light);
    margin-top: 12px;
    margin-right: 25px;
    margin-bottom: 5px;
    font-family: monospace;
    font-size: small;
    cursor: pointer;
    text-shadow: 0 0 3px var(--bg-light);
    text-decoration: underline 1px;
}

.show-content {
   display: flex;
}

@media only screen and (min-width: 500px) {
    .nav-content-item{
        margin-right: 55px;
    }
}

@media only screen and (min-width: 730px) {
    .nav-content-item{
        margin-right: 90px;
    }
}

@media only screen and (min-width: 930px) {
    .nav-content-item{
        margin-right: 110px;
    }
}

@media only screen and (min-width: 1180px) {
    .nav-content-item{
        margin-right: 160px;
    }
}

@media only screen and (min-width: 1400px) {
    .nav-content-item{
        margin-right: 210px;
    }
}